@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Elements
 * 1. ID & Class
 * 2. Pseudoclass
 * 3. Media Queries
 */

/* 0. Elements */
* {
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
  width:              100%;
  height:             100%;
  margin:             0;
  padding:            0;
  min-width:          320px;
  font-family:        "Open Sans";
  text-align:         center;
  -webkit-transform:  translateZ(0);
  transform:          translateZ(0);
}
h1, h2, h3, h4, h5, h6 {
  margin:             0.5rem auto;
  font-weight:        300;
  font-family:        "Open Sans Condensed";
}
h1 { font-size:       4rem; }
h2 { font-size:       3.5rem; }
h3 { font-size:       3rem; }
h4 { font-size:       2.5rem; }
h5 { font-size:       2rem; }
h6 { font-size:       1.5rem; }
a {
  outline:            0;
  text-decoration:    none;
}
b {
  font-weight:        700;
}
section {
  padding:            2rem 0;
  align-items:        center;
  justify-content:    center;
}
nav {
  position:           absolute;
  width:              100%;
  text-align:         left;
  background:         rgba(255, 255, 255, 0.5);
  border-bottom:      2px solid rgba(255, 255, 255, 0.8);
}
nav h1 {
  margin:             1rem;
  display:            inline-block;
  font-size:          2rem;
}
footer { font-size: 1.5rem; }
button::-moz-focus-inner {
  border:             0;
  padding:            0;
}

/* 1. ID & Class */
#anchors, #portals {
  line-height:        5rem;
  display:            inline-block;
}
#portals {
  float:              right;
  margin-top:         4px;
}
#anchors a, #portals a {
  color:              #444;
  margin:             auto 0.5rem;
  padding:            0 0.5rem;
  vertical-align:     middle;
}
#cause {
  padding:            6rem 0;
}
#testimonials > li {
  color:              #444;
  font-size:          1.5rem;
  font-style:         italic;
  font-weight:        300;
  list-style:         none;
}
#tryout {
  font-size:          2rem;
  padding-bottom:     2rem;
}
#tryout a {
  color:              #C00;
}
#promise {
  padding-bottom:     0;
}
#channels .list {
  display:            inline-block;
  color:              #666;
  width:              20%;
  height:             8rem;
  margin:             1rem;
  font-size:          1.5rem;
  line-height:        8rem;
  border:             1px solid #aaa;
  -webkit-transition: all 300ms ease;
  transition:         all 300ms ease;
}
#community {
  width:              100%;
  height:             6rem;
  color:              #eee;
  background:         #222;
  padding-top:        2rem;
}

/* 2. Pseudoclass */
#channels .list:hover {
  cursor:             pointer;
  font-size:          2rem;
  background:         #eee;
  border-color:       #666;
}

/* 2. Media Queries */
@media screen and (max-width: 960px) {
  html { font-size: 14px; }
}
@media screen and (max-width: 640px) {
  html { font-size: 12px; }
}
@media screen and (max-height: 480px) {
}
@media screen and (max-height: 240px) {
}
@media screen and (orientation: portrait) {
}
