@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Elements
 * 1. ID & Class
 * 2. Pseudoclass
 * 3. Media Queries
 */

/* 0. Elements */
* {
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
  color:              #444;
  width:              100%;
  margin:             0;
  padding:            0;
  display:            flexbox;
  display:            flex;
  flex-direction:     column;
  min-width:          320px;
  font-family:        "Open Sans";
  -webkit-transform:  translateZ(0);
  transform:          translateZ(0);
}
a {
  color:              #C00;
  outline:            0;
  text-decoration:    none;
}
b { font-weight: 700; }
h1, h2, h3, h4, h5, h6 {
  margin:             0.5rem auto;
  font-weight:        300;
  font-family:        "Open Sans Condensed";
}
h1 { font-size:       4rem; }
h2 { font-size:       3.5rem; }
h3 { font-size:       3rem; }
h4 { font-size:       2.5rem; }
h5 { font-size:       2rem; }
h6 { font-size:       1.5rem; }
section {
  padding:            2rem 10%;
  text-align:         center;
}
nav {
  width:              100%;
  display:            flexbox;
  display:            flex;
  padding:            0 10%;
  background:         #2ecc71;
  border-bottom:      3px solid #27ae60;
}
nav h1 {
  flex:               1;
  width:              100%;
  margin:             1rem;
  font-size:          2rem;
}
nav a { color: #063; }
footer {
  margin-top:         2rem;
  padding:            1rem 10% 3rem;
  display:            flexbox;
  display:            flex;
  flex-direction:     row;
  flex-wrap:          wrap;
  background:         #dde;
  border-top:         3px solid #bbc;
}
footer > div {
  flex:               1 1 33%;
}
button::-moz-focus-inner {
  border:             0;
  padding:            0;
}

/* 1. ID & Class */
.fade {
  -webkit-transition: all 300ms ease;
  transition:         all 300ms ease;
}
.portal {
  margin:             auto 0.5rem;
  padding:            0.5rem 1rem;
  border-radius:      4px;
  vertical-align:     middle;
}
#pitch h1 { padding: 4rem 0; }
#testimonials > li {
  color:              #444;
  font-size:          1.5rem;
  font-style:         italic;
  font-weight:        300;
  list-style:         none;
}
#tryout {
  font-size:          2rem;
  padding:            2rem 0;
}
#tryout a {
  width:              33%;
  min-width:          20rem;
  margin:             auto 1rem;
  padding:            1rem 0;
  border-radius:      4px;
  display:            inline-block;
}
#demo {
  color:              #fff;
  border:             1px solid #c0392b;
  background:         linear-gradient(#e74c3c, #c0392b);
}
#download {
  color:              #c0392b;
  border:             1px solid #c0392b;
}
/*#soapbox {
  height:             0;
  position:           relative;
  padding-top:        30px;
  padding-bottom:     56.25%;
  overflow:           hidden;
  -webkit-overflow-scrolling: touch;
}
#soapbox iframe {
  top:                0;
  left:               10%;
  width:              80%;
  height:             80%;
  position:           absolute;
}*/
#channels {
  display:            flexbox;
  display:            flex;
  flex-direction:     row;
  flex-wrap:          wrap;
}
#channels .list {
  color:              #666;
  height:             8rem;
  margin:             0;
  font-size:          1.5rem;
  padding-top:        2.75rem;
  flex:               1 1 auto;
}
a.social {
  color:              #222;
  margin:             auto 0.25rem;
  font-size:          2rem;
}
a.social svg {
  width:              2rem;
  height:             2rem;
}
a.comms {
  color:              #222;
  margin:             0.25rem auto;
  display:            block;
}
a.comms svg {
  width:              1rem;
  height:             1rem;
  margin-right:       0.5rem;
}

/* 2. Pseudoclass */
nav a:hover, nav a:active {
  color:              #fff;
}
nav .portal:hover,
nav .portal:active {
  color:              #fff;
  background:         #27ae60;
}
#demo:hover {
  box-shadow:         inset 0 0 1px 1px #fff;
}
#demo:active {
  box-shadow:         inset 0 0 3px 1px #fff;
}
#download:hover {
  box-shadow:         inset 0 0 0 1px #fff, inset 0 0 1px 1px #c0392b;
}
#download:active {
  box-shadow:         inset 0 0 0 1px #fff, inset 0 0 3px 1px #c0392b;
}
#channels .list:hover {
  font-size:          2rem;
  padding-top:        2.5rem;
}
a.social:hover, a.comms:hover {
  fill:               #c00;
  color:              #c00;
}

/* 2. Media Queries */
@media screen and (max-width: 960px) {
  html { font-size: 14px; }
  nav { padding: 0 2rem; }
  #tryout a {
    width:              100%;
    margin:             1rem auto;
    display:            block;
  }
  /*#soapbox iframe {
    left:               0;
    width:              100%;
    height:             100%;
  }*/
  #channels .list { flex: 1 1 50%; }
  footer > div {
    flex:               1 1 50%;
    margin-bottom:      1rem;
  }
  footer > div:last-child {
    flex:               1 1 100%;
  }
}
@media screen and (max-width: 640px) {
  html { font-size: 12px; }
  nav { padding: 0 1rem; }
  footer > div { flex: 1 1 100%; }
  #channels .list { flex: 1 1 100%; }
}
@media screen and (max-height: 480px) {
}
@media screen and (max-height: 240px) {
}
@media screen and (orientation: portrait) {
}
